  <!-- Page Header -->

  <body>

  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>FIRST PRIVATE SPACECRAFT TO</h2>
            <h2> THE SPACE STATION </h2>
          </div>
        </div>
      </div>
    </div>
  </header>

</body>
