

<section class="features" id="features">
    <div class="container">
      <div class="section-heading">
        <h2> MILESTONES </h2>
        <hr>
      </div>
      
      <div class="row">


        <div class="col-lg-4">
          <div class="container-fluid">

              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://www.spacex.com/sites/spacex/files/spacexcrew_20180803_v2.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h2> NASA ASTRONAUTS  </h2>
                    <p> Aug 4, 2018 </p>
                    <p class="card-text">NASA announces first astronauts flying on board Crew Dragon.                      </p>
                  </div>
                </div>


          </div>
        </div>



        <div class="col-lg-4">
            <div class="container-fluid">
  
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.spacex.com/sites/spacex/files/crs11dragon.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h2> FIRST DRAGON REFLIGHT  </h2>
                      <p> June 3, 2019 </p>
                      <p class="card-text">First reflight of the Dragon spacecraft.                        </p>
                    </div>
                  </div>
            </div>
          </div>


          
        <div class="col-lg-4">
            <div class="container-fluid">
  
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.spacex.com/sites/spacex/files/padabort_small.png" alt="Card image cap">
                    <div class="card-body">
                      <h2> PAD ABORT  </h2>
                      <p> May 6, 2019 </p>
                      <p class="card-text">Successful test of Dragon's launch escape system.                        </p>
                    </div>
                  </div>
            </div>
          </div>



      </div>
    </div>
  </section>