

<section class="features" id="features">
    <div class="container">
      <div class="section-heading">
        <h2>DRAGON</h2>
        <p class="text-muted">Dragon is a free-flying spacecraft designed to deliver both cargo and people to orbiting destinations. It is the only spacecraft currently flying that is capable of returning significant amounts of cargo to Earth. Currently Dragon carries cargo to space, but it was designed from the beginning to carry humans. The first demonstration flight under NASA's Commercial Crew Program launched on March 2, 2019 at 2:49 a.m. ET. The Dragon spacecraft successfully docked with the space station ahead of schedule at 6:02 a.m. ET on March 3, 2019, becoming the first American spacecraft in history to autonomously dock with the International Space Station.          </p>
        <hr>
      </div>
      
      <div class="row">
        <div class="col-lg-6">
          <div class="container-fluid">
            <h3> THE SUIT </h3>
            <p class="text-muted">Designed in-house by SpaceX, each custom-tailored suit is meant to provide a pressurized environment for all crew members aboard Dragon in atypical situations such as cabin depressurization. This suit also routes communications and cooling systems to the astronauts aboard during regular flight. Additional features include the following:</p>
            <ul>
              <li>3D printed space suit helmet</li>
              <li>Touchscreen compatible gloves</li>
              <li> Flame resistant outer layer</li>
              <li>Hearing protection during ascent and reentry</li>
              <li>  Single connection point between the suit and vehicle </li>
              <li> Heel sliders securing feet to footrest </li>
            </ul>
          </div>
        </div>


        <div class="col-lg-6 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="https://images-na.ssl-images-amazon.com/images/I/41B-raEdEXL._SX425_.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>



      </div>
    </div>
  </section>