
<body> 
<section class="features" id="features">
    <div class="container">
      
      <div class="row">
        <div class="col-lg-6">
          <div class="container-fluid">
            <h3> THE SUIT </h3>
            <p>Designed in-house by SpaceX, each custom-tailored suit is meant to provide a pressurized environment for all crew members aboard Dragon in atypical situations such as cabin depressurization. This suit also routes communications and cooling systems to the astronauts aboard during regular flight. Additional features include the following:</p>
            <ul>
              <li>3D printed space suit helmet</li>
              <li>Touchscreen compatible gloves</li>
              <li> Flame resistant outer layer</li>
              <li>Hearing protection during ascent and reentry</li>
              <li>  Single connection point between the suit and vehicle </li>
              <li> Heel sliders securing feet to footrest </li>
            </ul>
          </div>
        </div>


        <div class="col-lg-6 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="https://cdn.wallpapersafari.com/63/8/T2gVHm.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>



      </div>
    </div>
  </section>

  <br><br><br>
</body>