.container{
    left-margin:100px;
    max-width: 90%;
    max-height: 90%;

}





.carousel-caption
{
    background-color: black;
    padding: 20px;
    opacity: .80;


}

h3{
    color: white;
}

img
{
}