
<body>
  <br> <br>
<section class="features" id="features">
    <div class="container">
      <div class="section-heading">
          <h2>DRAGON</h2>
          <hr> 
        <div class="row">
          <div class="col-lg-6"> 
            <p> Dragon is a free-flying spacecraft designed to deliver both cargo and people to orbiting destinations. It is the only spacecraft currently flying that is capable of returning significant amounts of cargo to Earth. Currently Dragon carries cargo to space, but it was designed from the beginning to carry humans. The first demonstration flight under NASA's  </p>
          </div>

          <div class="col-lg-6"> 
            <p> Commercial Crew Program launched on March 2, 2019 at 2:49 a.m. ET. The Dragon spacecraft successfully docked with the space station ahead of schedule at 6:02 a.m. ET on March 3, 2019, becoming the first American spacecraft in history to autonomously dock with the International Space Station.</p>
            </div>

      </div>
      </div>
      
      <div class="row">
        <div class="col-lg-6">
          <div class="container-fluid">
            <h3> OVERVIEW </h3>
            <p>The Dragon spacecraft is capable of carrying up to 7 passengers to and from Earth orbit, and beyond. The pressurized section of the capsule is designed to carry both people and environmentally sensitive cargo. Towards the base of the capsule and contained within the nose cone are the Draco thrusters, which allow for orbital maneuvering.</p>
            <p >Dragon’s trunk not only carries unpressurized cargo but also supports the spacecraft during ascent. The trunk remains attached to Dragon until shortly before reentry into Earth’s atmosphere.              </p>
            

            <div class="row">
                <div class="col-sm-6  col-md-6" ><h4>  DIAMETER </h4>  </div>
                <div class="col-sm-6 col-md-6" ><h4> HEIGHT </h4>  </div>
                <hr class="specifications">
              </div>
              
              <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-6"> <div class="spec"> 4m  <span class="tinyspec">/13ft </span> </div>  </div>
                <div class="col-sm-6 col-md-5 col-lg-6"> <div class="spec"> 8.1m  <span class="tinyspec">/26.7ft </span> </div>  </div>
              </div>


              <div class="row">
                  <div class="col-sm-5 col-md-6"><h4> CAPSULE VOLUME                    </h4> </div>
                  <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0"><h4> TRUNK VOLUME                    </h4>  </div>
                  <hr class="specifications">
                </div>
                
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-lg-6"> <div class="spec"> 9.3m  <span class="tinyspec"> /328ft </span> </div>  </div>
                    <div class="col-sm-6 col-md-5 col-lg-6"> <div class="spec"> 37m <span class="tinyspec"> /1300ft </span> </div>  </div>
                </div>

                <div class="row">
                    <div class="col-sm-5 col-md-6"><h4> LAUNCH PAYLOAD MASS                      </h4>  </div>
                    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0"><h4> RETURN PAYLOAD MASS    </h4>   </div>
                    <hr class="specifications">
                  </div>
                  
                  <div class="row">
                      <div class="col-sm-6 col-md-5 col-lg-6"> <div class="spec"> 6,000kg <span class="tinyspec"> /13,228lbs </span> </div>  </div>
                      <div class="col-sm-6 col-md-5 col-lg-6"> <div class="spec"> 3,000kg  <span class="tinyspec"> /6,614lbs </span> </div>  </div>
                    </div>
  

                
          </div>

        </div>


        <div class="col-lg-6 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="https://cdn.vox-cdn.com/thumbor/4iuNtDgR7uHvB8vZMNyqZBlBLS0=/0x0:3941x2627/1200x0/filters:focal(0x0:3941x2627):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/7170559/449393.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>



      </div>
    </div>
  </section>

  <br><br>

  </body>
